

  <nav class="navbar navbar-nav" style="background-color:black">
      <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#"><p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" style="color:red;font-size: 30px ">KLANG</p></a>
      </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="./Home"><span class = "glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
  </nav>
  <div class="container changefont"  >
    <div  style="margin-top:100px ">
     <button type="button" class=" add btn btn-info btn-lg" data-toggle="modal" data-target="#addModal">Add</button>
       
        <div class="modal fade" id="addModal" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-title">Add User Details</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
              </div>
              <div class="modal-body">
                <ul>
                    
                    <li>Request 1<button style="float:right" type="button" class=" btn btn-info btn-lg" (click)="addDetails()" >Add</button>
                    </li>
                     <br><br>   
                    <li>Request 1<button style="float:right" type="button" class=" btn btn-info btn-lg" (click)="addDetails()" >Add</button>
                    </li><br><br>
                    <li>Request 1<button style="float:right" type="button" class=" btn btn-info btn-lg" (click)="addDetails()" >Add</button>
                    </li><br><br>
                    <li>Request 1<button style="float:right" type="button" class=" btn btn-info btn-lg" (click)="addDetails()" >Add</button>
                    </li><br><br>
                </ul>
              </div>
              
            </div>
            
          </div>
        </div>
    </div><br><br>
    <div>
            <button type="button" class="modify btn btn-info btn-lg" data-toggle="modal" data-target="#modifyModal">Modify Details</button>

            <div class="modal fade" id="modifyModal" role="dialog" >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                      <h3 class="modal-title">Modify Customer Details</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                   
                  </div>
                  <div class="modal-body">
                        <div class="row">
                                <div class="search-account">
                                  <input class="form-control search-bar" type="text" name="search" [(ngModel)] = "searchText"  autocomplete="off" placeholder="Start Searching using Account Number" >
                                </div>
                                <table class="table table-striped">
                                  <thead>
                                  <tr>
                                    <th>Account Number</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let account of accounts | searchPipe: searchText">
                                    <td  data-dismiss="modal" routerLink="edit/{{account.accNum}}" >{{account.accNum}}</td>  
                                  </tr>

                                  </tbody>
                                </table>
                              </div>
                  </div>
                </div>
                
              </div>
            </div>
    </div>
        
      </div>
  