
<div class="text-center">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  </head>

</div>

<nav class="navbar navbar-nav" style="background-color:black; margin-bottom: 10px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="index.html"><img src="
                /assets/webbed.png" alt="Bootstrappin'"
                    width="50"></a> 
        <a class="navbar-brand" href="#">
            <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-top: 10px" style="color:red;font-size: 30px ">KLANG</p></a>
        </div><li><p style="color: blue;font-size: 30px">Welcome,User!</p></li>
                    <ul class="nav navbar-nav navbar-right">
            <li><a href="./Home"><span class = "glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="text-center">
    <div class="container">
            <div class="row">
            
                <div class="column">
                    <a href="loanform">
                        <img src="/assets/roadster.jpg" alt="" width="400px" height="200px">
                        <h1>Car Loans</h1>
                    </a>
                </div>
            
                <div class="column">
                    <a href="loanform">
                        <img src="/assets/house.jpg" alt="" width="300px" height="200px">
                        <h1>House Loans</h1>
                    </a>
                </div>
            
            </div>
            
            <div class="row">
            
                    <div class="column">
                        <a href="loanform">
                            <img src="/assets/man.gif" alt="" width="200px" height="200px">
                            <h1>Personal Loans</h1>
                        </a>
                        
                    </div>
            
                    <div class="column">
                        <a href="loanform">
                            <img src="/assets/books.png" alt="" width="300px" height="200px">
                            <h1>Education Loans</h1>
                        </a>
                    </div>
            
                </div>
            </div>
</div>


<!-- <router-outlet></router-outlet> -->