<html>
    <head></head>

    <nav class="navbar navbar-nav" style="background-color:black">
        <div class="container-fluid">
          <div class="navbar-header">
                <a href="index.html"><img src="
                    /assets/webbed.png" alt="Bootstrappin'"
                      width="50"></a> 
            <a class="navbar-brand" href="#">
                <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-top: 10px" style="color:red;font-size: 30px ">KLANG</p></a>
          </div><li><p style="color: blue;font-size: 30px">Welcome,User!</p></li>
                      <ul class="nav navbar-nav navbar-right">
                <li><a href="./Home"><span class = "glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
      </nav>

      <div class="container" style="margin-top: 150px" >
            <div class="row" >
              <div class="col-sm-4">
                <h3><a href="./Home">Account Request</a></h3>
                <p>Change your account details or request for a New Account Type</p>
              </div>
              <div class="col-sm-4">
                <h3><a href="./home">Request Debit/Credit Card</a></h3>
                <p>Dont have a Debit/card yet request it with simple steps and get doorstep delivery</p>
              </div>
              <div class="col-sm-4">
                <h3><a href="./home">Loans</a></h3>       
                <p>Planning to Buy a car or a House then we can give you loans at the lowest interes rates.</p>
              </div>
              <div class="col-sm-4" style="margin-top: 100px">
                    <h3><a href="./fundtransfer">Fund Transfer</a></h3>        
                    <p>Transfer Funds upto $10000 per day to any same accounts or different account</p>
                  </div>
                  <div class="col-sm-4" style="margin-top: 100px">
                        <h3><a href="./home">Bank Statements</a></h3>        
                        <p>Get Account Statements from an date</p>
                      </div>
            </div>
        </div> 
<router-outlet></router-outlet>
</html>
<div class="page-module footer" style="background-color: black">
  <div class="row-fluid">
    <div class="span3 clearfix">
    <b style="color: cornsilk">Contact US:</b><br><br>
    <p style="color: cornsilk">KLANG@queries.org</p>
    <p style="color: cornsilk">Phone Number: +23438676345</p><br>
  </div>
  </div>
</div>
