<html style="background-color: blue">

<nav class="navbar navbar-nav" style="background-color:black; margin-bottom: 10px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="index.html"><img src="
                /assets/webbed.png" alt="Bootstrappin'"
                    width="50"></a> 
        <a class="navbar-brand" href="#">
            <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-top: 10px" style="color:red;font-size: 30px ">KLANG</p></a>
        </div><li><p style="color: blue;font-size: 30px">Welcome,User!</p></li>
                    <ul class="nav navbar-nav navbar-right">
            <li><a href="./Home"><span class = "glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<form action="" ngNativeValidate>

    <div class="form-group text-div">
        <label for="loan-type">Loan Type</label>
        <input class="form-control" type="text" required>
    </div>

    <div class="form-group text-div">
        <label for="income">Income</label>
        <input class="form-control" type="text" required>
    </div>

    <div class="form-group text-div">
        <label for="amount">Amount Required</label>
        <input class="form-control" type="number" required>
    </div>

    <div class="form-group text-div">
        <label for="address">Address</label>
        <input class="form-control" type="text" required>
    </div>

    <div class="form-group text-div">
        <label for="occupation">Occupation</label>
        <input class="form-control" type="text" required>
    </div>

    <div class="form-group text-div">
        <button class="btn btn-primary" type="submit">Submit Request</button>
    </div>

</form>

</html>